<!--    
   <div class="modal-body">
    <h1>Coupon</h1>
        <strong>ID :</strong><%= @coupon.id %><br/>
        Title : <%= @coupon.title %><br/>
        Description : <%= @coupon.description %><br/>
        Code :  <%= @coupon.code %><br/>
        
        Expiry Date : <%= @coupon.expiry_date %><br/>
        Coins Needed : <%= @coupon.coins_needed %><br/>
        This coupon is added by <%= @coupon.user.name %><br/>

        <br />
        <%= link_to 'Like', '', class: 'like', data: {'js-like-link' => true} %>
        likes : <%= @coupon.feedbacks.where(like: true).count %> || 
        <button >Dislike</button>
        Dislikes : <%= @coupon.feedbacks.where(like: false).count %>  
    </div>

     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
     -->

<div class="modal-body">
  <div class="row">
    <div class="col">
      <h3>
        <%= @coupon.title %>
      </h3>
    </div>
    <div class="col">
      <img src="<%= 
      if @coupon.app == 'Paytm'
        image_path('paytm.png')
      elsif @coupon.app == 'PhonePe'
        image_path('phonepe.jpg')
      elsif @coupon.app == 'AmazonPay' 
        image_path('amazonpay.webp')
      elsif @coupon.app == 'Mobikwik'
        image_path('mobikwik.png')
      elsif @coupon.app == 'GooglePay'
        image_path('google.png')
      elsif @coupon.app == 'Freecharge'
        image_path('freecharge.png')
      elsif @coupon.app == 'Airtel Money'
        image_path('airtelmoney.png')
      else
        image_path('mobikwik.png')
      end
        %>" alt="avatar" class="rounded-circle img-fluid" style="width: 60px;">
    </div>
  </div>
  <p>
    Use this code at <u><a href="https://<%= @coupon.app %>.com">
        <%= @coupon.app %>
      </a></u>
  </p>

  <div class="couponbutton clearfix " id="couponsavebutton">
    <div class="copybtn text-center font-weight-bold" id="copybtn" style="display:none;position: absolute;">
      <%= @coupon.code %>
    </div>
    <div id="greypart"><img src="<%= image_path('blur.jpeg') %>"
        style="width: 250px;height: 45px;position: relative;" /></div>

    <button onclick="buttonfunc()"
      class="btn btn-success coupon_btn js-copy  px-4 rounded-0 font-weight-bold text-uppercase"
      data-clipboard-target="#copybtn" style="cursor:pointer;" id="copybtntxt">View &amp; Copy</button>

  </div>
  <div class="row">
    <div class="col">
      <img src="<%= image_path('coin.png') %>" style="width: 29px;height: 27px;" />
      : <%= @coupon.coins_needed %>
    </div>
    <div class="col">Expires In :
      <span style="color:red;" id="days"></span>
      <span style="color:red;" id="hours"></span>
      <span style="color:red;" id="mins"></span>
      <span style="color:red;" id="secs"></span>
    </div>
  </div>
  <br />
  <% if @coupon.coupon_file.attached? %>
    <div id="scimage" style="display:none;" >
    <img src="<%= image_path url_for(@coupon.coupon_file)%>" class="rounded mx-auto d-block" >
    </div>
  <%  end %>
  <p>Description : <%= @coupon.description %>
  </p>
  <div class="row">
    <div style="color:blue;" class="col">
       
    </div>
    <div class="col">
      <a class="like">
        <button class="btn" onclick="likef('<%= @coupon.id %>')"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"
            id="green"></i></button>
        <input class="qty1" name="qty1" readonly="readonly" type="text"
          value="<%= @coupon.feedbacks.where(like: true).count %>" />
      </a>
      <a class="dislike">
        <button class="btn" onclick="dislikef('<%= @coupon.id %>')"><i class="fa fa-thumbs-down fa-lg"
            aria-hidden="true" id="red"></i></button>
        <input class="qty2" name="qty2" readonly="readonly" type="text"
          value="<%= @coupon.feedbacks.where(like: false).count %>" />
      </a>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>