<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-primary" role="alert">
    <%= msg %>
    </div>
  <% end %>
<% end %>
<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Coupon</h3>
      <p>You are 30 seconds away from getting coins!</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Add Your Coupon</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <%= form_with model: [@user, @coupon] do |f| %>
                <div class="form-group">
                  <%= f.text_field :title ,class:"form-control" ,placeholder: "Title *" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :description ,class:"form-control" ,placeholder: "Description *" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :code ,class:"form-control" ,placeholder: "Code *" %>
                </div>
                <div class="form-group">
                  <%= f.label 'Add Screenshot (if available)' , class:"form-label"%>
                    <%= f.file_field :coupon_file ,class:"form-control"%>
                </div>
                <div class="form-group">
                  <%= f.label 'Category :- ' ,class:"form-label"%>
                    <%= f.collection_select :category_id, Category.order(:name),:id,:name , include_blank: false %>

                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="maxl">
                  <label class="radio inline">
                    <input type="radio" name="gender" value="male" checked>
                    <span> Male </span>
                  </label>
                  <label class="radio inline">
                    <input type="radio" name="gender" value="female">
                    <span>Female </span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <%= f.label 'Expiry_date:-' ,class:"form-label"%>
                    <%= f.date_field :expiry_date, class:"form-control" ,placeholder: "Expiry-Date" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.select :app, options_for_select([ ["Select App", "" ], 'Paytm','PhonePe','AmazonPay','Mobikwik','GooglePay','Freecharge','Airtel Money','Other']), {}, {
                  class: "form form-group form-control" } %>
                  </select>
              </div>
              <div class="form-group" style="border: 1px solid lightgrey;padding: 20px 20px 20px 20px;">
                <h5>Choose how you want to earn coins!</h5>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="earning-option" id="random-coins"
                    value="random-coins" checked>
                  <label class="form-check-label" for="random-coins">
                    Get Random Coins Now
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="earning-option" id="coupon-earn"
                    value="coupon-earn">
                  <label class="form-check-label" for="coupon-earn">
                    Give Value to Coupon to Earn Coins
                  </label>
                </div>
                <div id="coupon-value-input" style="display: none;">
                  <div class="form-group">
                    <%= f.label 'Coupon_value :- ', class:"form-label" %>
                    <%= f.text_field :coins_needed ,type: "number", class: "form-control", id: "coupon-value", placeholder: "Enter coupon value"%>
                  </div>
                </div>
              </div>
              <%= f.submit%>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
  const couponValueInput = document.getElementById("coupon-value-input");
  const couponEarnRadio = document.getElementById("coupon-earn");
  const couponEarnRandom = document.getElementById("random-coins");
  
  couponEarnRadio.addEventListener("change", function () {
    if (this.checked) {
      couponValueInput.style.display = "block";
    } else {
      couponValueInput.style.display = "none";
    }
  });
  couponEarnRandom.addEventListener("change", function () {
    if (this.checked) {
      couponValueInput.style.display = "none";
    }
  });
</script>