<h1>Coupon</h1>
    <strong>ID :</strong><%= @coupon.id %><br/>
    <%= @coupon.title %><br/>
    <%= @coupon.description %><br/>
    <%= @coupon.code %><br/>
    
    <%= @coupon.expiry_date %><br/>
    <%= @coupon.coins_needed %><br/>
    <%= @coupon.user_id %><br/>