
<section style="background-color: #eee;">
   <div class="container py-5">
     <div class="row">
       <div class="col">
         <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
           <ol class="breadcrumb mb-0">
             <li class="breadcrumb-item"><%= link_to :CouponsIndex ,  user_coupons_path(current_user) %>             </li>
             <li class="breadcrumb-item"><a href="#">User</a></li>
             <li class="breadcrumb-item active" aria-current="page"><%= link_to :AddCoupon ,  new_user_coupon_path(current_user) %></li>
           </ol>
         </nav>
       </div>
     </div>
 
     <div class="row">
       <div class="col-lg-4">
         <div class="card mb-4">
           <div class="card-body text-center">
             <img src="<%= image_path('usericon.png') %>" alt="avatar"
               class="rounded-circle img-fluid" style="width: 150px;">
             <h5 class="my-3"><%= current_user.name %></h5>
             <p class="text-muted mb-4">Coins :<%= current_user.coins %></p>
             <div class="d-flex justify-content-center mb-2">
               <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary'  %>
            </div>
           </div>
         </div>

       </div>
       <div class="col-lg-8">
         <div class="card mb-4">
           <div class="card-body">
             <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Full Name</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0"><%= current_user.name %></p>
               </div>
             </div>
             <hr>
             <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Email</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0"><%= current_user.email %></p>
               </div>
             </div>
             <hr>
             <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Coins</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0"><%= current_user.coins %></p>
               </div>
             </div>
           </div>
         </div>
    <h2>Your Coupons : </h2>     
   <% current_user.coupons.each do |c| %>
      <div class="list-container"  style="background-color: #ffffff;">
         <div class="row">
            <div class="col-md-8 col-sm-12 center-align">
               <p class="offer-logo">MANGO</p>
               <p class="offer-text"><%= c.title %></p>
            </div>
            <div class="col-md-4 col-sm-12 center">
               <img src="<%= image_path('noun-correct-171158 (1).svg') %>" alt="verified_Image"
                  class="verified_image" />
               <span class="verified-text">Verified</span>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8 col-sm-12">
               <%= c.description %>
            </div>
            <div class="col-md-4 col-sm-12">
               <div class="code-container">
                  <i class="get-code"><%= link_to 'Get Code', c, data: { bs_toggle: "modal", bs_target: "#showUserModal", remote: true }, id: "removelink" %></i>
                  <font style="opacity: 0.3;" ><%= c.code.last(2) %></font><i class="fa fa-search search-icon" aria-hidden="true"></i>
               </div>
               
            </div>
         </div>
      </div>
      <div class="dateOFExpire">Expired in <%= (c.expiry_date.to_date - Date.current).to_i %> days</div>
   <% end %>
</div>


      
     </div>
   </div>
 </section>

 <!-- Modal -->
<div class="modal fade" id="showUserModal" tabindex="-1" aria-labelledby="showUserModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="showUserModalLabel">Coupon</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
         <div id="showUserDetails">
       </div>
   </div>
 </div>