<%= form_with model: @contact , class:"my-form" do |f| %>
    <div class="form-group">
        <%= f.label :Name %>
            <%= f.text_field :name, class: "form-control" , id: "form-name" ,placeholder: "Name" %>
    </div>
    <br />
    <div class="form-group">
        <%= f.label "Email Address" %>
            <%= f.text_field :email, class: "form-control" , id: "form-name" ,placeholder: "Email Address" %>
    </div>
    <br />
    <div class="form-group">
        <%= f.label "Telephone" %>
            <%= f.text_field :telephone, class: "form-control" , id: "form-name" ,placeholder: "Telephone" %>
    </div>
    <br />
    <div class="form-group">
        <%= f.label "Email your Message" %>
            <%= f.text_field :msg, class: "form-control" , id: "form-name" ,placeholder: "Message" %>
    </div>
    <br />
    <%= f.submit %>
<% end %>